@{
    ViewBag.Title = "Contact";
}

<br /><img src="~/Images/Contact.png" class="img-responsive" /><br />

<h1 class="text-center">Got Questions?</h1>
<h1 class="text-center">Got ideas for cool features to add to this site?</h1>
<h1 class="text-center">Bored and want a pen pal?</h1>
<h1 class="text-center">Send us an email :)</h1>

<address class="text-center">
    <strong>Support:</strong>   <a href="mailto:Support@example.com" class="linkBlue">Support@GoodLandFRD.com</a><br />
</address>
