@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="img-responsive text-center" src="~/Images/shenanigans1.jpg" />
<h1 class="text-danger text-center">Watch out! There was an error...</h1>
<h2 class="text-center">Send us an email letting us know what you were doing when this error occurred and we'll get our best skaters on it!</h2>
<h4 class="text-center">
    <strong>Support:</strong>   <a href="mailto:Support@example.com" class="linkBlue">Support@GoodLandFRD.com</a>
</h4><br />
